.vs/
BusReminderService/bin
BusReminderService/obj
ConsoleTester/bin
ConsoleTester/obj
Libs/LibBusReiminder/bin
Libs/LibBusReiminder/obj
Libs/nana/CMakeFiles
Libs/nana/Makefile
Libs/nana/cmake_install.cmake
Libs/nana/libnana.a
Tester/bin
Tester/obj
VoiceDownloader/x64
VoiceDownloader/Debug
VoiceDownloader/Release
x64
Debug/
ReminderScreen/Release/
ReminderScreen/CMakeFiles/
ReminderScreen/build
VoiceDownloader/build
